In [ ]:
# datetime
import datetime

today = datetime.date.today()
print(today)

print(datetime.datetime.now())

birthday = datetime.date(2001, 5, 15)
print(birthday.weekday())

life = today - birthday
print(life.days)

In [ ]:
# sys,  try,  except
import sys

try:
    a = float(sys.argv[1])
    b = float(sys.argv[2])
    print(a+b)
except:
    print('Error!!')

In [ ]:
# random,  while,  if
import random

while True:
    rand_num0 = random.choice([1, 2, 3, 4, 5, 6])
    rand_num1 = random.randint(0, 9)
    print(rand_num0, rand_num1)
    if rand_num0 < rand_num1:
        continue
    else:
        break

In [ ]:
# turtle
import turtle
import random

kame = turtle.Turtle()
kame.shape('turtle')
kame.shapesize(2, 2, 3)

kame.home()
kame.clear()
kame.penup()
kame.forward(200)
kame.left(90)
kame.pendown()
kame.circle(200)
kame.penup()
kame.home()
kame.pendown()

while kame.distance(0, 0) < 200:
    kame.left(random.randint(1, 360))
    kame.forward(15)

In [ ]:
# def, class

# my_module
def func(v):
    i = v + 3
    return i

# mainfile
import my_module
my_module.func(5)

# change my_module
def func(v):
    i = v * 3
    return i

# change mainfile
import importlib
importlib.reload(my_module)
my_module(5)

# change my_module
class Dice:
    def __init__(self, val):
        self.face_num = val
    def shoot(self):
        return random.randint(1, self.face_num)

# change mainfile
importlib.reload(my_module)
sai = my_module.Dice(4)
print(sai.shoot())
print(sai.face_num)

In [ ]:
# usage of DataBase
import sqlite3
# make DB
conn = sqlite3.connect('my_database.db')
conn.execute('create table data_table(id integer, random_val real)')
# write DB
import itertools
import random
iter_cnt = itertools.count(1)
for i in range(500):
    num = random.random()
    conn.execute('insert into data_table values({}, {})'.format(next(iter_cnt), num))
# read DB
cur = execute('select * from data_table')
# select count(*) from data_table
# select * from data_table where id=500
# update data_table set id=-99 where id=501
# delete from data_table where id=-99
for row in cur:
    print(row)
conn.commit()
conn.close()

In [ ]:
# list
list0 = [0, 1, 2, 3]

list0.append(4)    
list0.insert(1, 5)
list0.pop(1)
list0.remove(1)
list0.reverse()
list0.sort()

In [ ]:
# dictionary, tuple
dict = {
        1 : 'America',
        39 : 'Italia',
        86 : 'China'
        }
dict[81] = 'Japan'
print(dict)

tuple0 = (1, 2, 3, 4)

In [ ]:
# usage of file
test_file = open('test.txt', 'w')
test_file.write('Hello!!')
test_file.flush()
test_file.close()

test_file = open('test.txt', 'r')
read_line = test_file.readline()
test_file.close()
print(read_line)

In [ ]:
# for, if
list1 = [345, 891, 590, 290, 160, 455]
for num in list1:
     if 100 < num < 300:
         print('small')
     elif 300 < num < 500:
         print('middle')
     else:
         print('big')

# jupyter notebook
## column of makedown
### Hello World