In [1]:
import numpy as np
import pandas as pd

In [ ]:
# 読み込み, 書き出し
df = pd.read_csv('filepath')

df.to_csv('result.csv', index=False)

In [2]:
#Series作成
S1 = pd.Series([2, 4, 6]) #リスト, Numpy配列
S2 = pd.Series({'California' : 38332521, 
                'Texas' : 26448193, 
                'New York' : 19651127,
                'Florida' : 19552860,
                'Illinois' : 12882135})

print(S1)
print(S2)

S3 = pd.Series({'California' : 423967, 
                'Texas' : 695622, 
                'New York' : 141297,
                'Florida' : 170312,
                'Illinois' : 149995})

#DataFrame作成
D1 = pd.DataFrame(S2, columns=['population'])
D2 = pd.DataFrame({'population' : S2,
                   'area' : S3})
"""pd.DataFrame(data, columns=['', ''], index=['', '', ''])"""
print(D1)
print(D2)
"""多重インデクス、Multiindex"""

0    2
1    4
2    6
dtype: int64
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64
            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
            population    area
California    38332521  423967
Texas         26448193  695622
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

'多重インデクス、Multiindex'

In [3]:
# 行列抽出　条件抽出
D2['density'] = D2['population'] / D2['area']
print(D2)
print()
# D2[['density']][1:]
print(D2.iloc[:3 ,:2])
print(D2.loc[:'New York' ,:'area'])
print()
print(D2[1:3])
print(D2['Texas':'Florida'])
print()
print(D2[D2['density'] > 100])
print(D2.loc[D2['density'] > 100, ['population', 'density']])

"""
df[df['country'] == 'USA']
df[(df['age'] >= 20) and (df['age'] <= 30)]
"""

            population    area     density
California    38332521  423967   90.413926
Texas         26448193  695622   38.020927
New York      19651127  141297  139.076746
Florida       19552860  170312  114.806121
Illinois      12882135  149995   85.883763

            population    area
California    38332521  423967
Texas         26448193  695622
New York      19651127  141297
            population    area
California    38332521  423967
Texas         26448193  695622
New York      19651127  141297

          population    area     density
Texas       26448193  695622   38.020927
New York    19651127  141297  139.076746
          population    area     density
Texas       26448193  695622   38.020927
New York    19651127  141297  139.076746
Florida     19552860  170312  114.806121

          population    area     density
New York    19651127  141297  139.076746
Florida     19552860  170312  114.806121
          population     density
New York    19651127  139.076746
Florida     19552860  114.806121

"\ndf[df['country'] == 'USA']\ndf[(df['age'] >= 20) and (df['age'] <= 30)]\n"

In [ ]:
# 条件抽出のプラスアルファ
"""
df.query('columns == "USA"')          ==     df[df['columns'] == "USA"]
df.query('age >= 20 and age<= 30')    ==     df[(df['age'] >= 20) and (df['age'] <= 30)]
"""

In [ ]:
# 一つしかない値、重なっている値の扱い
df.unique
df.drop_duplicates
# 並び替え
df.sort_value('density')
# 出現回数
df['month'].value_counts('Jan')

In [ ]:
# コラム名変更
df.columns = ['', '']
df = df.rename(columns = {'平均気温':'平均'})  #何から何に

In [ ]:
#ダミー変数化
pd.get_dummies(df[''])

In [ ]:
# 欠損値
df.isnull().sum()
df.fillna(df['price'].median)
df.dropna()

In [7]:
# データの連結
def make_df(cols, ind):
    data = {c : [str(c) + str(i) for i in ind] for c in cols}
    return pd.DataFrame(data, ind)

df1 = make_df('AB', [1, 2])
df2 = make_df('AB', [3, 4])
df3 = make_df('CD', [1, 2])
print(df1)
print(df2)
print(df3)
print()

print(pd.concat([df1, df2], axis=0))
print(pd.concat([df1, df3], axis=1))
"""
http://pandas.pydata.org/pandas-docs/stable/merging.html

df1.append(df2)
pd.merge()
"""

    A   B
1  A1  B1
2  A2  B2
    A   B
3  A3  B3
4  A4  B4
    C   D
1  C1  D1
2  C2  D2

    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4
    A   B   C   D
1  A1  B1  C1  D1
2  A2  B2  C2  D2

In [ ]:
df.groupby('method')['year']
df.groupby(df['key']).sum()
#yearの情報をmethod別に見たい
#indexにmethod名、データにyearの値が入る
#key別に合計を取る

In [ ]:
# 統計量
df.head() # 最初の10データ
df.tail() # 最後の10データ
df.mean() # 平均値
df.median() # 中央値
df.std() # 標準偏差
df.describe() # 色々なデータ、これ一つ実行すればよい
df.value_counts() # 要素のカウント

In [10]:
# 時系列分析
# Pythonのdatetime, dateutilモジュールでも
# Numpyの中にもあるが、pandasが一番使いやすい
from datetime import datetime
dates = pd.to_datetime([datetime(2015, 7, 3), '4th of July, 2015', 
                        '2015-Jul-6', '07-07-2015', '20150708'])
print(dates)
"""
pd.date_range('2015-07-03', periods=8, freq='H')
pd.date_range('2015-07-03', '2015-07-10')
pd.period_range('2015-07', periods=8, freq='M')
pd.timedelta_range(0, periods=10, freq='H')
"""

DatetimeIndex(['2015-07-03', '2015-07-04', '2015-07-06', '2015-07-07',
               '2015-07-08'],
              dtype='datetime64[ns]', freq=None)